[manifest]
version = "1.0.0"
priority = 0

[vars]
zerpFamiliarCostumeenv = "rom.mods['zerp-FamiliarCostume'].lovely_env"

[[patches]]
[patches.pattern]
target = "FamiliarCostumeLogic.lua"
pattern = '''
function DoFamiliarCostumeShopPurchase( screen, button, args )
	args = args or {}
	local itemData = button.Data
	GameState.FamiliarCostumes[screen.OpenedFrom.Name] = itemData.Name
'''
position = "after"
payload = '''
    GameState.ModFamiliarCostumes = GameState.ModFamiliarCostumes or {}
    if {{lovely:zerpFamiliarCostumeenv}}.FamiliarCostumeData[itemData.Name] ~= nil then
		GameState.FamiliarCostumes[screen.OpenedFrom.Name] = FamiliarData[screen.OpenedFrom.Name].DefaultCostume
		GameState.ModFamiliarCostumes[screen.OpenedFrom.Name] = itemData.Name
    else
        GameState.ModFamiliarCostumes[screen.OpenedFrom.Name] = nil
	end
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "FamiliarCostumeLogic.lua"
pattern = '''
			local stateText = "Shop_Purchased"
			if GameState.FamiliarCostumes[screen.OpenedFrom.Name] ~= itemName then
				button.Free = true
				button.OnPressedFunctionName = "HandleFamiliarCostumeShopReAdd"
				stateText = "Shop_ReAdd"
			end
'''
position = "after"
payload = '''
			if GameState.ModFamiliarCostumes[screen.OpenedFrom.Name] ~= nil and itemName == FamiliarData[screen.OpenedFrom.Name].DefaultCostume then
				button.Free = true
				button.OnPressedFunctionName = "HandleFamiliarCostumeShopReAdd"
				stateText = "Shop_ReAdd"
			end
			if GameState.ModFamiliarCostumes[screen.OpenedFrom.Name] == itemName then
				button.Free = false
				button.OnPressedFunctionName = nil
				stateText = "Shop_Purchased"
			end
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "FamiliarCostumeLogic.lua"
pattern = '''
			local pinIcon = CreateScreenComponent({ Name = "BlankObstacle", Group = screen.ComponentData.DefaultGroup, Alpha = 0.0, })
'''
position = "at"
payload = '''
			local pinIcon = CreateScreenComponent({ Name = "BlankObstacle", Group = screen.ComponentData.DefaultGroup, Alpha = 0.0, Scale = 0.6 })
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "FamiliarCostumeLogic.lua"
pattern = '''
			Attach({ Id = pinIcon.Id, DestinationId = button.Id, OffsetX = screen.PinOffsetX, OffsetY = UIData.PinIconListOffsetY })
'''
position = "at"
payload = '''
			Attach({ Id = pinIcon.Id, DestinationId = button.Id, OffsetX = screen.PinOffsetX, OffsetY = UIData.PinIconListOffsetY + 15 })
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "FamiliarCostumeLogic.lua"
pattern = '''
			if not GameState.WorldUpgradesViewed[itemName] then
				local newIcon = CreateScreenComponent({
					Name = "BlankObstacle",
					Group = screen.ComponentData.DefaultGroup,
					Animation = "MusicPlayerNewTrack",
					Alpha = 0.0,
				})
				components[itemName.."NewIcon"] = newIcon
				table.insert( button.AssociatedIds, newIcon.Id )
				Attach({ Id = newIcon.Id, DestinationId = button.Id, OffsetX = 300, OffsetY = 0 })
				button.NewIconId = newIcon.Id
			end
		end
'''
position = "after"
payload = '''
		local favIcon = CreateScreenComponent({ Name = "BlankObstacle", Group = screen.ComponentData.DefaultGroup, Alpha = 0.0, })
		components[itemName .. "FavIcon"] = favIcon
		table.insert( button.AssociatedIds, favIcon.Id )
		Attach({ Id = favIcon.Id, DestinationId = button.Id, OffsetX = screen.PinOffsetX, OffsetY = UIData.PinIconListOffsetY })
		button.FavButtonId = favIcon.Id
'''
match_indent = true
times = 1